In [1]:
from theFuncs import *

# DATA

In [2]:
# load_DTB3_SPY().to_csv('./data/spy_dtb3.csv')

In [3]:
sp100 = os.listdir(os.getcwd()+'/data/stock_dfs')
sp100_tickers = []
for csvfile in sp100:
    sp100_tickers.append(csvfile[:-4])

# sp100_tickers

In [4]:
ticker_data = get_ticker_data_multisource(sp100_tickers)

In [5]:
# ticker_data.loc['CSCO']

In [6]:
model = RollingOLS.from_formula(
        "(ret - DTB3) ~ (spy_ret - DTB3)", 
        data = ticker_data.loc[sp100_tickers[0]], 
        window = 66
    ).fit(params_only=True)
df = model.params
df.columns = ["alpha", "Beta"]
df['ticker'] = sp100_tickers[0]
df.set_index('ticker', inplace=True, append=True)
df = df.reorder_levels(['ticker', 'date']).sort_index()


for ticker in sp100_tickers[1:]:
    model = RollingOLS.from_formula(
        "(ret - DTB3) ~ (spy_ret - DTB3)", 
        data = ticker_data.loc[ticker], 
        window = 66
    ).fit(params_only=True)

    temp = model.params
    temp.columns = ["alpha", "Beta"]
    temp['ticker'] = ticker
    temp.set_index('ticker', inplace=True, append=True)
    temp = temp.reorder_levels(['ticker', 'date']).sort_index()
    df = pd.concat(
        [ 
            df, 
            temp
        ]
    )

ticker_data = ticker_data.join(df)

ticker_data.head()

                        high        low       open      close       volume  \
ticker date
AAPL   2019-01-03  36.430000  35.500000  35.994999  35.547501  365248800.0
       2019-01-04  37.137501  35.950001  36.132500  37.064999  234428400.0
       2019-01-07  37.207500  36.474998  37.174999  36.982498  219111200.0
       2019-01-08  37.955002  37.130001  37.389999  37.687500  164101200.0
       2019-01-09  38.632500  37.407501  37.822498  38.327499  180396400.0

                        ret   spy_close    DTB3   spy_ret  alpha  Beta
ticker date
AAPL   2019-01-03 -0.099607  232.998627  0.0236 -0.023863    NaN   NaN
       2019-01-04  0.042689  240.803085  0.0237  0.033496    NaN   NaN
       2019-01-07 -0.002226  242.701736  0.0241  0.007885    NaN   NaN
       2019-01-08  0.019063  244.981995  0.0241  0.009395    NaN   NaN
       2019-01-09  0.016982  246.126907  0.0240  0.004673    NaN   NaN

In [7]:
market_caps = pd.DataFrame(
    ticker_data.reset_index(level=[0, 1]).groupby(['ticker', 'date']).apply(
        lambda x: x.close * x.volume
    )
)
market_caps.reset_index(level=2, drop=True, inplace=True)
market_caps.rename(columns={0: "MarketCap"}, inplace=True)

In [8]:
market_caps.head()

                      MarketCap
ticker date
AAPL   2019-01-03  1.298368e+10
       2019-01-04  8.689088e+09
       2019-01-07  8.103280e+09
       2019-01-08  6.184564e+09
       2019-01-09  6.914143e+09

In [9]:
market_caps.head()

                      MarketCap
ticker date
AAPL   2019-01-03  1.298368e+10
       2019-01-04  8.689088e+09
       2019-01-07  8.103280e+09
       2019-01-08  6.184564e+09
       2019-01-09  6.914143e+09

In [10]:
ticker_data_wide = ticker_data.reset_index(level=['ticker', 'date'])
ticker_data_wide = ticker_data_wide[['ticker', 'date', 'ret']].pivot(
    index='date', 
    columns='ticker', 
    values='ret'
)
ticker_data_wide.head()

ticker,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMGN,AMT,AMZN,AVGO,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
date,,,,,,,,,,,,,,,,,,,,,
2019-01-03,-0.099607,-0.032949,-0.047194,-0.034142,-0.039498,-0.021959,-0.015216,0.005997,-0.025242,-0.088951,...,-0.027270,-0.037016,-0.028392,-0.014024,-0.036037,0.003570,-0.010435,-0.007882,-0.005142,-0.015354
2019-01-04,0.042689,0.032217,0.028541,0.038884,0.048632,0.036903,0.034184,0.003995,0.050064,0.009828,...,0.011695,0.038514,0.034833,0.024726,0.043081,0.002490,0.033269,0.029633,0.006246,0.036870
2019-01-07,-0.002226,0.014595,0.014976,0.003473,0.013573,0.005724,0.013457,0.006190,0.034353,0.020366,...,0.001920,0.006241,-0.003376,-0.004698,0.018032,0.006388,0.005750,-0.006465,0.011772,0.005200
2019-01-08,0.019063,0.004648,-0.012006,0.025290,0.014918,0.003959,0.012824,0.011300,0.016612,-0.008026,...,0.013371,0.087270,0.000103,0.006436,0.005439,0.029267,0.020009,-0.002099,0.006981,0.007271
2019-01-09,0.016982,-0.032823,0.016691,0.005030,0.011819,0.014543,-0.001196,-0.008753,0.001714,0.043250,...,0.001439,-0.002587,0.005132,0.010659,0.011769,-0.022782,0.012050,0.005469,-0.003256,0.005275

In [11]:
rolling_correlations = ticker_data_wide.rolling(66).corr().dropna()
rolling_correlations.head()

ticker                 AAPL      ABBV       ABT       ACN      ADBE       AIG  \
date       ticker
2019-06-24 AAPL    1.000000  0.296962  0.224228  0.354141  0.403017 -0.057218
           ABBV    0.296962  1.000000  0.495805  0.338759  0.345130 -0.007118
           ABT     0.224228  0.495805  1.000000  0.447644  0.510348  0.037750
           ACN     0.354141  0.338759  0.447644  1.000000  0.527017  0.108172
           ADBE    0.403017  0.345130  0.510348  0.527017  1.000000  0.123667

ticker                 AMGN       AMT      AMZN      AVGO  ...       UNH  \
date       ticker                                          ...
2019-06-24 AAPL    0.248007 -0.039255  0.561013  0.606993  ...  0.117699
           ABBV    0.515949  0.102796  0.376902  0.127400  ...  0.410813
           ABT     0.539751  0.297049  0.391182  0.299744  ...  0.388814
           ACN     0.283967  0.152951  0.498013  0.369200  ...  0.136531
           ADBE    0.302570  0.199119  0.739261  0.418718  ...  0.211514

ticker                  UNP       UPS       USB         V        VZ       WBA  \
date       ticker
2019-06-24 AAPL    0.370165  0.409476  0.366545  0.501574 -0.112949  0.228087
           ABBV    0.188250  0.153467  0.285019  0.448157  0.079838 -0.087340
           ABT     0.297078  0.199606  0.363545  0.472988 -0.019647  0.103246
           ACN     0.385596  0.390947  0.351905  0.621636 -0.238056  0.252542
           ADBE    0.455503  0.293439  0.379133  0.820151 -0.091270  0.225878

ticker                  WFC       WMT       XOM
date       ticker
2019-06-24 AAPL    0.301752  0.151945  0.301929
           ABBV    0.270842  0.111515  0.323539
           ABT     0.339443  0.308035  0.302968
           ACN     0.317963  0.330239  0.318322
           ADBE    0.256738  0.357301  0.303250

[5 rows x 101 columns]

In [12]:
rolling_covariances = ticker_data_wide.rolling(66).cov().dropna()
rolling_covariances.head()

ticker                 AAPL      ABBV       ABT       ACN      ADBE       AIG  \
date       ticker
2019-06-24 AAPL    0.000275  0.000051  0.000043  0.000060  0.000111 -0.000013
           ABBV    0.000051  0.000107  0.000060  0.000036  0.000059 -0.000001
           ABT     0.000043  0.000060  0.000137  0.000054  0.000099  0.000006
           ACN     0.000060  0.000036  0.000054  0.000105  0.000089  0.000015
           ADBE    0.000111  0.000059  0.000099  0.000089  0.000274  0.000028

ticker                 AMGN       AMT      AMZN      AVGO  ...       UNH  \
date       ticker                                          ...
2019-06-24 AAPL    0.000049 -0.000006  0.000133  0.000189  ...  0.000032
           ABBV    0.000063  0.000010  0.000056  0.000025  ...  0.000069
           ABT     0.000075  0.000034  0.000066  0.000066  ...  0.000074
           ACN     0.000034  0.000015  0.000073  0.000071  ...  0.000023
           ADBE    0.000059  0.000033  0.000175  0.000130  ...  0.000057

ticker                  UNP       UPS       USB         V        VZ       WBA  \
date       ticker
2019-06-24 AAPL    0.000070  0.000110  0.000058  0.000078 -0.000023  0.000073
           ABBV    0.000022  0.000026  0.000028  0.000044  0.000010 -0.000017
           ABT     0.000040  0.000038  0.000041  0.000052 -0.000003  0.000023
           ACN     0.000045  0.000065  0.000035  0.000060 -0.000030  0.000050
           ADBE    0.000086  0.000079  0.000060  0.000127 -0.000019  0.000072

ticker                  WFC       WMT       XOM
date       ticker
2019-06-24 AAPL    0.000061  0.000021  0.000054
           ABBV    0.000034  0.000009  0.000036
           ABT     0.000048  0.000030  0.000038
           ACN     0.000039  0.000028  0.000035
           ADBE    0.000051  0.000049  0.000054

[5 rows x 101 columns]

In [13]:
rolling_covariances.loc[('2019-06-24', 'AAPL'), 'AAPL']

date        ticker
2019-06-24  AAPL      0.000275
Name: AAPL, dtype: float64

# CLUSTERING

In [14]:
date = '2019-06-24'
K = 20

In [15]:
x, y, z = clustering_model(rolling_correlations, date, K)

Academic license - for non-commercial use only - expires 2022-08-27
Using license file /Users/karimlayoun/gurobi.lic
Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (mac64)
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 10303 rows, 10302 columns and 30704 nonzeros
Model fingerprint: 0xda4a9273
Variable types: 0 continuous, 10302 integer (10302 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [6e-05, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]
Found heuristic solution: objective 33.3704622
Presolve time: 0.05s
Presolved: 10303 rows, 10302 columns, 30704 nonzeros
Variable types: 0 continuous, 10302 integer (10302 binary)

Root relaxation: objective 7.261684e+01, 559 iterations, 0.02 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0   72.61684    0   66   33.37046   72.61684   118%     -    0s
H    0     0                      72.5886010   72.61684  0.04%     -    0s

Cutting planes:
  Gomory: 1
  Zero half: 1

Explored 1 nodes (564 simplex iterations) in 0.19 seconds
Thread count was 8 (of 8 available processors)

Solution count 2: 72.5886 33.3705

Optimal solution found (tolerance 1.00e-04)
Best objective 7.258860103164e+01, best bound 7.258860103164e+01, gap 0.0000%

# INDEX BY CLUSTER WEIGHTS

In [16]:
z_market_cap = market_caps.loc[
    market_caps.index.get_level_values(1) == datetime.strptime(date, "%Y-%m-%d")
].join(z)
z_market_cap.reset_index(drop=True, level=1, inplace=True)

In [17]:
center_weights = z_market_cap[(z_market_cap.in_center == 1) & (z_market_cap.is_center == 1)].groupby("center").MarketCap.sum() / z_market_cap[(z_market_cap.in_center == 1) & (z_market_cap.is_center == 1)].MarketCap.sum()

In [18]:
portfolio_returns = get_portfolio_returns(
    center_weights, date, ticker_data_wide
)
spy_returns = get_spy_returns(date)

portfolio_returns, spy_returns

(1.0122919577413123, 1.0110079840222566)

In [19]:
portfolio_returns - spy_returns

0.0012839737190557532

# INDEX BY MIN VAR

In [29]:
ticker_data.head()

                        high        low       open      close       volume  \
ticker date
AAPL   2019-01-03  36.430000  35.500000  35.994999  35.547501  365248800.0
       2019-01-04  37.137501  35.950001  36.132500  37.064999  234428400.0
       2019-01-07  37.207500  36.474998  37.174999  36.982498  219111200.0
       2019-01-08  37.955002  37.130001  37.389999  37.687500  164101200.0
       2019-01-09  38.632500  37.407501  37.822498  38.327499  180396400.0

                        ret   spy_close    DTB3   spy_ret  alpha  Beta
ticker date
AAPL   2019-01-03 -0.099607  232.998627  0.0236 -0.023863    NaN   NaN
       2019-01-04  0.042689  240.803085  0.0237  0.033496    NaN   NaN
       2019-01-07 -0.002226  242.701736  0.0241  0.007885    NaN   NaN
       2019-01-08  0.019063  244.981995  0.0241  0.009395    NaN   NaN
       2019-01-09  0.016982  246.126907  0.0240  0.004673    NaN   NaN

In [40]:
center_weights

center
BIIB     0.004954
C        0.129697
CL       0.020114
COST     0.052208
DHR      0.020064
DIS      0.021384
EMR      0.088418
EXC      0.019119
GILD     0.058265
GOOGL    0.042579
HON      0.043295
IBM      0.029051
MSFT     0.231541
NVDA     0.111564
PEP      0.019457
PFE      0.028729
T        0.022649
UNH      0.011556
UPS      0.020675
XOM      0.024681
Name: MarketCap, dtype: float64

In [43]:
ticker_data.loc[(center_weights.index, date), ["alpha", "Beta"]].reset_index(level=1, drop=True).Beta.multiply(center_weights).sum()

1.253474550577747

In [28]:
ticker_data.loc[(ticker_data.index.get_level_values(0).unique()[:10], pd.date_range("2019-04-08", "2019-04-15")), :]

                          high          low         open        close  \
ticker date
AAPL   2019-04-08    50.057499    49.084999    49.105000    50.025002
       2019-04-09    50.712502    49.807499    50.080002    49.875000
       2019-04-10    50.185001    49.544998    49.669998    50.154999
       2019-04-11    50.250000    49.610001    50.212502    49.737499
       2019-04-12    50.035000    49.052502    49.799999    49.717499
       2019-04-15    49.962502    49.502499    49.645000    49.807499
ABBV   2019-04-08    84.000000    82.779999    83.699997    83.980003
       2019-04-09    83.779999    82.500000    83.769997    82.690002
       2019-04-10    83.379997    82.599998    83.199997    82.949997
       2019-04-11    83.250000    81.230003    83.199997    81.769997
       2019-04-12    81.809998    79.839996    80.669998    80.779999
       2019-04-15    81.510002    80.370003    80.959999    81.029999
ABT    2019-04-08    78.910004    77.949997    78.910004    78.519997
       2019-04-09    78.959999    78.059998    78.239998    78.669998
       2019-04-10    79.419998    78.559998    78.720001    78.970001
       2019-04-11    79.230003    78.349998    79.190002    78.510002
       2019-04-12    78.849998    77.820000    78.370003    78.010002
       2019-04-15    78.459999    77.459999    78.110001    77.500000
ACN    2019-04-08   179.080002   177.369995   177.669998   178.910004
       2019-04-09   178.470001   177.279999   177.750000   177.729996
       2019-04-10   177.750000   176.100006   176.800003   177.000000
       2019-04-11   178.470001   176.899994   177.179993   178.360001
       2019-04-12   179.360001   177.800003   178.500000   178.639999
       2019-04-15   179.639999   177.949997   178.410004   179.300003
ADBE   2019-04-08   269.089996   264.700012   266.959991   268.809998
       2019-04-09   269.989990   266.799988   267.119995   268.989990
       2019-04-10   272.160004   269.010010   269.470001   271.579987
       2019-04-11   272.920013   270.769989   271.950012   271.899994
       2019-04-12   273.510010   270.820007   273.010010   271.859985
       2019-04-15   273.709991   270.619995   271.859985   272.220001
AIG    2019-04-08    45.150002    44.619999    44.970001    44.869999
       2019-04-09    44.730000    44.099998    44.590000    44.630001
       2019-04-10    45.009998    44.230000    44.570000    44.880001
       2019-04-11    45.820000    45.080002    45.389999    45.709999
       2019-04-12    46.950001    45.970001    46.000000    46.189999
       2019-04-15    46.299999    45.720001    46.169998    45.799999
AMGN   2019-04-08   195.309998   192.559998   194.529999   194.880005
       2019-04-09   194.000000   192.509995   193.589996   192.979996
       2019-04-10   195.000000   192.339996   194.149994   193.889999
       2019-04-11   194.789993   190.649994   194.570007   192.110001
       2019-04-12   193.479996   190.789993   193.020004   191.419998
       2019-04-15   193.179993   189.850006   191.839996   191.199997
AMT    2019-04-08   196.470001   194.190002   195.070007   196.220001
       2019-04-09   197.130005   195.949997   196.139999   196.720001
       2019-04-10   197.270004   196.000000   196.460007   196.619995
       2019-04-11   197.190002   195.440002   197.119995   196.649994
       2019-04-12   198.059998   194.800003   196.639999   197.960007
       2019-04-15   197.830002   194.520004   196.699997   196.089996
AMZN   2019-04-08  1850.199951  1825.109985  1833.229980  1849.859985
       2019-04-09  1853.089966  1831.780029  1845.489990  1835.839966
       2019-04-10  1848.000000  1828.810059  1841.000000  1847.329956
       2019-04-11  1849.949951  1840.310059  1848.699951  1844.069946
       2019-04-12  1851.500000  1841.300049  1848.400024  1843.060059
       2019-04-15  1846.849976  1818.900024  1842.000000  1844.869995
AVGO   2019-04-08   305.299988   302.000000   304.140015   304.480011
       2019-04-09   304.109985   300.290009   302.579987   303.450012
       2019-04-10   307.769989   303.000000   303.600006   307.510010
       2019-04-11   310.190002   306.230011   308.149994   309.410004
       2019-04-12   317.440002   310.570007   311.350006   317.029999
       2019-04-15   317.519989   313.170013   317.029999   316.399994

                        volume       ret   spy_close    DTB3   spy_ret  \
ticker date
AAPL   2019-04-08  103526800.0  0.015736  276.745697  0.0238  0.000763
       2019-04-09  143072800.0 -0.002999  275.327332  0.0237 -0.005125
       2019-04-10   86781200.0  0.005614  276.266510  0.0238  0.003411
       2019-04-11   83603200.0 -0.008324  276.189819  0.0238 -0.000278
       2019-04-12  111042800.0 -0.000402  278.058502  0.0239  0.006766
       2019-04-15   70146400.0  0.001810  277.876434  0.0238 -0.000655
ABBV   2019-04-08    3499200.0  0.006351  276.745697  0.0238  0.000763
       2019-04-09    3712700.0 -0.015361  275.327332  0.0237 -0.005125
       2019-04-10    3641900.0  0.003144  276.266510  0.0238  0.003411
       2019-04-11    9094200.0 -0.014225  276.189819  0.0238 -0.000278
       2019-04-12    5011500.0 -0.012107  278.058502  0.0239  0.006766
       2019-04-15    3495500.0  0.003095  277.876434  0.0238 -0.000655
ABT    2019-04-08    5178900.0 -0.006076  276.745697  0.0238  0.000763
       2019-04-09    4836700.0  0.001910  275.327332  0.0237 -0.005125
       2019-04-10    5604600.0  0.003813  276.266510  0.0238  0.003411
       2019-04-11    4432100.0 -0.005825  276.189819  0.0238 -0.000278
       2019-04-12    5482000.0 -0.006369  278.058502  0.0239  0.006766
       2019-04-15    6095100.0 -0.006538  277.876434  0.0238 -0.000655
ACN    2019-04-08    1373300.0  0.004266  276.745697  0.0238  0.000763
       2019-04-09    1813900.0 -0.006596  275.327332  0.0237 -0.005125
       2019-04-10    1582600.0 -0.004107  276.266510  0.0238  0.003411
       2019-04-11    1417200.0  0.007684  276.189819  0.0238 -0.000278
       2019-04-12    2663400.0  0.001570  278.058502  0.0239  0.006766
       2019-04-15    1619800.0  0.003695  277.876434  0.0238 -0.000655
ADBE   2019-04-08    1796800.0  0.005085  276.745697  0.0238  0.000763
       2019-04-09    1605900.0  0.000670  275.327332  0.0237 -0.005125
       2019-04-10    1469700.0  0.009629  276.266510  0.0238  0.003411
       2019-04-11    2085600.0  0.001178  276.189819  0.0238 -0.000278
       2019-04-12    1681100.0 -0.000147  278.058502  0.0239  0.006766
       2019-04-15    1462300.0  0.001324  277.876434  0.0238 -0.000655
AIG    2019-04-08    2147000.0 -0.003996  276.745697  0.0238  0.000763
       2019-04-09    3397000.0 -0.005349  275.327332  0.0237 -0.005125
       2019-04-10    1904100.0  0.005602  276.266510  0.0238  0.003411
       2019-04-11    4330300.0  0.018494  276.189819  0.0238 -0.000278
       2019-04-12    4937300.0  0.010501  278.058502  0.0239  0.006766
       2019-04-15    3766200.0 -0.008443  277.876434  0.0238 -0.000655
AMGN   2019-04-08    1629800.0 -0.002712  276.745697  0.0238  0.000763
       2019-04-09    1872600.0 -0.009750  275.327332  0.0237 -0.005125
       2019-04-10    1653200.0  0.004716  276.266510  0.0238  0.003411
       2019-04-11    2082600.0 -0.009180  276.189819  0.0238 -0.000278
       2019-04-12    2060800.0 -0.003592  278.058502  0.0239  0.006766
       2019-04-15    2038300.0 -0.001149  277.876434  0.0238 -0.000655
AMT    2019-04-08    2166500.0  0.002350  276.745697  0.0238  0.000763
       2019-04-09    1708200.0  0.002548  275.327332  0.0237 -0.005125
       2019-04-10    1304500.0 -0.000508  276.266510  0.0238  0.003411
       2019-04-11    1027100.0  0.000153  276.189819  0.0238 -0.000278
       2019-04-12    1412300.0  0.006662  278.058502  0.0239  0.006766
       2019-04-15    1765500.0 -0.009446  277.876434  0.0238 -0.000655
AMZN   2019-04-08    3752800.0  0.006847  276.745697  0.0238  0.000763
       2019-04-09    3714400.0 -0.007579  275.327332  0.0237 -0.005125
       2019-04-10    2964000.0  0.006259  276.266510  0.0238  0.003411
       2019-04-11    2654800.0 -0.001765  276.189819  0.0238 -0.000278
       2019-04-12    3114400.0 -0.000548  278.058502  0.0239  0.006766
       2019-04-15    3724400.0  0.000982  277.876434  0.0238 -0.000655
AVGO   2019-04-08    1389900.0  0.000657  276.745697  0.0238  0.000763
       2019-04-09    1162100.0 -0.003383  275.327332  0.0237 -0.005125
       2019-04-10    1499200.0  0.013379  276.266510  0.0238  0.003411
       2019-04-11    1666900.0  0.006179  276.189819  0.0238 -0.000278
       2019-04-12    3008700.0  0.024628  278.058502  0.0239  0.006766
       2019-04-15    1621600.0 -0.001987  277.876434  0.0238 -0.000655

                          alpha      Beta
ticker date
AAPL   2019-04-08 -4.136389e-04  1.847658
       2019-04-09  1.550256e-03  1.447520
       2019-04-10  1.475880e-03  1.529444
       2019-04-11  1.490999e-03  1.570643
       2019-04-12  1.316309e-03  1.540942
       2019-04-15  1.229580e-03  1.530870
ABBV   2019-04-08 -3.107811e-03  1.022924
       2019-04-09 -3.070880e-03  0.999157
       2019-04-10 -3.015747e-03  0.980067
       2019-04-11 -3.307179e-03  0.967933
       2019-04-12 -3.476027e-03  0.944009
       2019-04-15 -2.907827e-03  0.972073
ABT    2019-04-08 -7.383861e-04  1.176511
       2019-04-09  4.672218e-05  1.030029
       2019-04-10 -3.794763e-07  1.097465
       2019-04-11 -1.620528e-04  1.088499
       2019-04-12 -1.034404e-04  1.124643
       2019-04-15 -3.522865e-04  1.118027
ACN    2019-04-08  1.370572e-03  1.033528
       2019-04-09  1.675266e-03  0.962946
       2019-04-10  1.588583e-03  0.903203
       2019-04-11  1.752226e-03  0.909183
       2019-04-12  1.529900e-03  0.857241
       2019-04-15  1.582569e-03  0.855258
ADBE   2019-04-08 -1.783854e-04  1.321679
       2019-04-09  2.343688e-04  1.251629
       2019-04-10  3.616136e-04  1.181469
       2019-04-11  3.382169e-04  1.172242
       2019-04-12  2.042664e-04  1.147724
       2019-04-15  1.530571e-04  1.139586
AIG    2019-04-08 -8.314951e-04  1.263743
       2019-04-09 -1.090403e-03  1.323017
       2019-04-10 -1.112871e-03  1.394879
       2019-04-11 -7.321657e-04  1.387448
       2019-04-12 -6.281517e-04  1.413395
       2019-04-15 -8.577291e-04  1.410926
AMGN   2019-04-08 -2.033946e-03  1.035785
       2019-04-09 -2.464713e-03  1.121512
       2019-04-10 -2.424921e-03  1.133359
       2019-04-11 -2.608842e-03  1.123817
       2019-04-12 -2.757698e-03  1.095442
       2019-04-15 -2.671374e-03  1.096960
AMT    2019-04-08  3.132636e-03  0.135494
       2019-04-09  2.933071e-03  0.177996
       2019-04-10  2.834358e-03  0.231017
       2019-04-11  2.773694e-03  0.229882
       2019-04-12  2.738222e-03  0.216671
       2019-04-15  2.700735e-03  0.240571
AMZN   2019-04-08 -8.352830e-04  1.665324
       2019-04-09 -1.306240e-03  1.769111
       2019-04-10 -1.351112e-03  1.858215
       2019-04-11 -1.579563e-03  1.813303
       2019-04-12 -1.722811e-03  1.790376
       2019-04-15 -1.592163e-03  1.791878
AVGO   2019-04-08 -7.338185e-05  1.344122
       2019-04-09  1.879436e-03  0.938811
       2019-04-10  1.798741e-03  1.206000
       2019-04-11  1.778754e-03  1.182870
       2019-04-12  2.159408e-03  1.265908
       2019-04-15  1.637737e-03  1.232835

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=80cc924b-f00e-4408-bf29-ac16ba2efaff' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>